In [1]:
import random as rd;
import pandas as pd;
import itertools as it;
import numpy as np;

In [2]:
# a function which returns the first n entries in a list (stream)

In [3]:
def take(n, iterable):
    "Return first n items of the iterable as a list"
    return list(it.islice(iterable, n))

In [4]:
# a generator -  creates an infinite stream of random numbers in range

In [5]:
def infinite_randoms_in_range(bot, top):
        while True:
           n = rd.uniform(bot,top) 
           yield n;

In [6]:
# First we create an instance of our generator

In [7]:
i =infinite_randoms_in_range(3.76, 11.23);

In [8]:
next(i)

4.536157134231119

In [9]:
take(10, i)

[4.205387242682624,
 9.236194157103485,
 10.932907989763669,
 10.4086984379555,
 5.685901616920692,
 8.818943906752443,
 8.848939124835216,
 10.078577459793472,
 10.621408325372155,
 6.125381889796131]

In [10]:
j = infinite_randoms_in_range(17.254, 800.623 )

In [11]:
# add two lists together

In [12]:
h = take(5, i) + take(20, j)

In [13]:
# get a random item from the new list

In [14]:
rd.choice(h)

447.3025059554656

In [15]:
# you can also shuffle the list

In [16]:
def shuffle(data):
    shuffled_indices = np.random.permutation(len(data))
    return pd.DataFrame(data).iloc[shuffled_indices]

In [17]:
t = shuffle(h)

In [18]:
t

             0
22  347.184896
11  478.382487
19  473.617709
23  214.334277
18   23.527730
24  260.442052
10  447.918736
15   52.473915
9   161.292495
13  243.755340
6   522.856567
17  241.023062
16  242.582718
21  743.414216
12   99.868769
3     7.053099
8   239.076536
20  137.883083
1     5.758414
0     8.695864
2     9.637646
14   72.577935
5   161.487752
7   447.302506
4     5.274976